@font-face {
  font-family: 'Jedira-Regular';
  src: url('./src/components/fonts/Jedira-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori-Extralight';
  src: url('./src/components/fonts/PPMori-Extralight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori-Regular';
  src: url('./src/components/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPMori-SemiBold';
  src: url('./src/components/fonts/PPMori-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900;
    font-family: 'PPMori-SemiBold', sans-serif; /* Default font */
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center px-6 py-3 border border-transparent text-sm font-medium rounded-full shadow-sm text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }
  
  .btn-secondary {
    @apply inline-flex items-center px-6 py-3 border border-gray-300 text-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
  }
}
